
:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --white-color: #fff;
  --assent-color: #2196f3;
  --logo-color: #000;
  --bg-color: #f5f4fa;
  --secondr-bg-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
/*footer*/
footer {
  display: block;
  text-decoration: none;
}
footer {
  width: 1600px;
  height: 252px;
  background-color: var(--secondr-bg-color);
}
.address-text {
 font-style: normal;
 color: var(--white-color);
}
.address-text-link {
  display: block;
  font-style: normal;
 color: var(--main-text-color);
}
.address-text {
 font-style: normal;
}
/* style for text */
li {
  list-style-type: none;
}
h1 {
  font-size: 44px;
  color: var(--white-color);
}
h2 {
  font-size: 36px;
  color: var(--title-text-color);
}
h3 {
  font-size: 16px;
  color: var(--title-text-color);
}
h4 {
  font-size: 14px;
  color: var(--title-text-color);
}

/*header*/
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--logo-color);
  font-style: normal;
}
.part-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--assent-color);
}
a {
  display: block;
  text-decoration: none;
}

.list-tab {
  display: inline-flex;
}
.main-menu {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
}
.main-menu:hover,
.main-menu:focus,
.contacts-item:hover,
.contacts-item:focus {
  color: var(--assent-color);
}
li a span {
  color: var(--title-text-color);
}
li.active a span {
  color: var(--assent-color);
}
.list-tab li a span {
  float: left;
  padding: 10px 18px;
  margin-right: 4px;
  word-wrap: normal;
  margin-bottom: 20px;
}
.contacts-item {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
}
.contacts-bloc div {
  float: left;
  padding: 10px 18px;
  margin-right: 4px;
  word-wrap: normal;
  margin-bottom: 20px;
}
/*main content*/
.sorter {
  display: inline-flex;
  background: var(--bg-color);
}
.sorter li {
  float: left;
  padding: 10px 18px;
  margin-right: 4px;
  word-wrap: normal;
  font-size: 15px;
  margin-bottom: 20px;
}
.sorter-item:hover {
  background: var(--assent-color);
  color: var(--white-color);
}
aside {
  background: var(--secondr-bg-color);
  width: 1600px;
  height: 600px;
}
button {
  background: var(--assent-color);
  width: 200px;
  height: 50px;
  color: (var(--white-color);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}


